extends ./admin-layout.pug

block body
  .row.lmv
    .col-12
      p.adm-title SUBCATEGORÍAS
    .col-12
      a.btn.btn-primary.btn-mg(href="./new") Añadir Subcategoría
  
  
  .row.lmv.mg-top
    if (alert)
      .col-12
        .alert.alert-danger!=alert
    if (success)
      .col-12
        .alert.alert-success!=success

    if subcategories && subcategories.length
      .col-12.mg-top
        .table-responsive
          table.table.text-center.table-hover
            thead.thead-dark
              tr
                th(scope="col") Nombre
                th(scope="col") Categoría
                th(scope="col") Imagen
                th(scope="col") Operaciones
            tbody
              for subcategory in subcategories
                tr
                  th(scope="row") #{subcategory.name}
                  td(scope="row") #{subcategory.category.name}
                  td 
                    img.table-img(src="/public/images/subcategories/"+subcategory._id+"."+subcategory.extension)
                  td.text-right
                    a.btn.btn-success.lmh.btn-mg(href="./"+subcategory._id+"/edit") Actualizar
                    a.btn.btn-danger.lmh.btn-mg(href="./"+subcategory._id+"/delete") Eliminar
    else
      .col-12.mg-top.text-center
        p No hay subcategorías.
