doctype html
html
  head
    meta(charset='utf-8')
    title  Subtitulo | Titulo
    meta(name='keywords' content='KEYWORDS ACA')
    meta(name='author' content='Deve')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    meta(charset="UTF-8")
    meta(name="description" content="Diseño y desarrollo de aplicaciones móviles, aplicaciones de escritorio y sitios web.")
    meta(name="dc.title" content="Diseño & Desarrollo | Deve")
    meta(name="dc.publisher" content="Deve")
    meta(name="og:locale" content="es_ES")
    meta(name="og:type" content="website")
    meta(name="og:title" content="Diseño & Desarrollo | Deve")
    meta(name="og:url" content="/")
    meta(name="og:site-name" content="Diseño & Desarrollo | Deve")
    meta(name="og:image" content="/public/images/sources/dv_dark.png")
    meta(name="google" content="nositelinkssearchbox")

    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"  media="none" onload="if(media!='all')media='all'")
    link(rel="stylesheet", href="/public/css/bootstrap.min.css")
    link(rel='stylesheet', type='text/css', href='/public/css/all.css')
    link(rel='stylesheet', type='text/css', href='/public/css/layout.css')
    link(rel="icon" href="/public/images/sources/dv_dark.png")
    block head
  body
    
    block content

    script(src="/public/js/jquery-3.3.1.min.js")
    script(src="/public/js/layout.js")

    block scripts

    